/* Styling for YarnScape screens*/

/* Colour prefs (light/dark modes) */
:root {
    --c-text-primary: navy;
    --c-background: #D4F1FF;
    --c-background-primary: #fff;
    --c-background-secondary: #9AC5D9;
    --c-background-button: #ADD8EC;
    --c-background-focus: #8BAEc7;
    --c-background-hover: #A1B9D2;
    --c-background-inputfocus: #E4EcF5;
    --text-size: 23px;
    --text-headersize: 26px;
    --text-header1size: 29px;
    --text-size-input: 20px;
    --text-size-largeheader: 35px;
    --text-subheadersize: 20px;
}

.light {
    --c-text-primary: navy;
    --c-background: #D4F1FF;
    --c-background-primary: #fff;
    --c-background-secondary: #9AC5D9;
    --c-background-button: #ADD8EC;
    --c-background-focus: #8BAEc7;
    --c-background-hover: #A1B9D2;
    --c-background-inputfocus: #E4EcF5;
}

.dark {
    --c-text-primary: #eee;
    --c-background: black;
    --c-background-primary: #505050;
    --c-background-secondary: #222128;
    --c-background-button: #3A3B3C;
    --c-background-focus: #8BAEc7;
    --c-background-hover: #A1B9D2;
    --c-background-inputfocus: #E4EcF5;
}

/* Text size prefs (small/normal/large) */
.small-text {
    --text-size: 17px;
    --text-headersize: 20px;
    --text-header1size: 23px;
    --text-size-input: 15x;
    --text-subheadersize: 24px;
}

.normal-text {
    --text-size: 23px;
    --text-headersize: 26px;
    --text-header1size: 29px;
    --text-size-input: 20px;
    --text-subheadersize: 20px;
}

.large-text {
    --text-size: 27px;
    --text-headersize: 30px;
    --text-header1size: 33px;
    --text-size-input: 24px;
    --text-subheadersize: 24px;
}


/*---------------------------------------------------
General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    background-color: var(--c-background);
    color: var(--c-text-primary);
    font-size: var(--text-size);
    justify-content: center;
    color: var(--c-text-primary);
}

/*---------------------------------------------------
Login + Signup styles */
.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: var(--c-background-primary);
    font-size: var(--text-size);
    border-radius: 8px;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50%;
    margin-bottom: 50%;
}

.login-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.login-section-header {
    text-align: center;
    margin-bottom:20px;
}

.login-section-header h3 {
    font-size: 23.5px;
}

.login-section-input {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.login-section-input input {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    font-size: var(--text-size-input);
    color: var(--c-text-primary);
    border-color: var(--c-text-primary);
}

.login-section-input input:focus {
    background-color: var(--c-background-inputfocus);
}

.login-section-submitbtn {
    width: 100%;
}

.login-section-submitbtn button {
    width: 100%;
    padding-left: 20px;
    /*padding-right: 20px;*/
    padding: 12px;
    font-weight: bold;
    background-color: var(--c-background);
    color: var(--c-text-primary);
    font-size: var(--text-subheadingsize-1);
    border: 2px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-section-submitbtn button:hover {
    background-color: var(--c-background-hover);
}

.signin-error-message {
    color: red;
    font-size: var(--text-size);
    text-align: center;
    margin-top: 20px;
}

.yes-no-account {
    margin-top: 20px;
    text-align: center;
    font-size: var(--text-size);
}

.yes-no-account1 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

/* Style for the entire label */
.termsCheckbox {
    display: flex;
    align-items: center;  /* Aligns items (checkbox and text) vertically in the center */
    font-size: var(--text-size-input);
    color: var(--c-text-primary);
    margin-bottom: 20px;
    padding-left: 5px;
}

/* Style for the checkbox input */
.termsCheckbox input[type="checkbox"] {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

/* Hover effect for the checkbox */
.termsCheckbox input[type="checkbox"]:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* Style for the link (Terms and Conditions) */
.termsCheckbox .terms-link {
    color: var(--c-text-primary);
    text-decoration: none;
    transition: color 0.2s;
}

/* Change the link color when hovered */
.termsCheckbox .terms-link:hover {
    color: var(--c-text-primary);
    text-decoration: underline;
}


/*---------------------------------------------------
Homepage styles */
.homepage-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: var(--c-background);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.homepage-header {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.homepage-header h1 {
    font-size: var(--text-size-largeheader);
    color: var(--c-text-primary);
    margin-bottom: 0;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-icon svg {
    color: var(--c-text-primary);
    background-color: var(--c-background);
}

.homepage-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    border: 10px;
    border-radius: 4px;
}

.homepage-buttons button {
    width: 100%; /* Make buttons the same width as the container */
    padding: 45px 45px;
    margin-bottom: 45px; /* Space between buttons */
    font-size: var(--text-headersize);
    color: var(--c-text-primary);
    background-color: var(--c-background-button);
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.homepage-buttons button:active {
    background-color: var(--c-background-primary);
}

/*---------------------------------------------------
User profile styles */
.profile-container {
    width: 100%;
    max-width: 600px;
    padding: 45px;
    background-color: var(--c-background-primary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 80%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 20%;
}

.go-back {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 15px;
}

.profile-header h1 {
    font-size: var(--text-size-largeheader);
    color: var(--c-text-primary);
    margin-bottom: 0;
}

.setting-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-background-primary);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.profile-body {
    width: 100%;
    margin-bottom: 30px;
}

.profile-body h2 {
    font-size: var(--text-subheadersize);
    color: var(--c-text-primary);
    margin-bottom: 10px;
    text-decoration: underline;
}

.profile-body div {
    margin-bottom: 20px;
}

/*---------------------------------------------------
Settings styles */

.settings-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: var(--c-background-primary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    color: var(--c-text-primary);
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 20%;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.settings-header h1 {
    font-size: var(--text-headersize);
    color: var(--c-text-primary);
    text-align: center;
}

.setting-body-preferences {
    margin-bottom: 30px;
}

.setting-body-preferences div {
    margin-bottom: 20px;
}

.setting-body-preferences h3 {
    font-size: var(--text-subheadingsize-1);
    color: var(--c-text-primary);
    margin-bottom: 10px;
}

.setting-body-preferences div {
    padding-left: 10px;
}

.setting-body-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.setting-body-buttons button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--c-text-primary);
    background-color: var(--c-background-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.setting-body-buttons button:hover {
    background-color: var(--c-background-focus);
}

.settings-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--c-text-primary);
}

.settings-footer span {
    margin-left: 8px;
    font-size: 14px;
    color: var(--c-text-primary);
    font-size: var(--text-size);
}

.settings-footer a:hover {
    text-decoration: underline;
}

/* colourPref toggle */
.colourPref-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.colourPref-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--text-size-input);
    font-weight: 500;
    color: var(--c-text-primary);
    padding: 5px;
    transition: color 0.3s ease;
}

.colourPref-container input[type="radio"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--c-text-primary);
    background-color: var(--c-background-primary);
    transition: all 0.3s ease;
}

.colourPref-container label:hover {
    font-weight: bold;
}

.colourPref-container input[type="radio"]:focus {
    outline: 2px solid var(--c-text-primary);
    outline-offset: 2px;
}

.colourPref-container input[type="radio"]:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: var(--c-background-primary);
    font-weight: bold;
}

/* textPref toggle */
.textPref-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.textPref-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--text-size-input);
    font-weight: 500;
    color: var(--c-text-primary);
    padding: 5px;
    transition: color 0.3s ease;
}

.textPref-container input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--c-text-primary);
    background-color: var(--c-background-primary);
    transition: all 0.3s ease;
}

.textPref-container label:hover {
    font-weight: bold;
}

.textPref-container input[type="radio"]:focus {
    outline: 2px solid var(--c-text-primary);
    outline-offset: 2px;
}

.textPref-container input[type="radio"]:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: var(--c-background-primary);
    font-weight: bold;
}

/*---------------------------------------------------
Bottom nav styles */

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--c-background-primary);
    border-top: 1px solid var(--c-text-primary);
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* Styling for each navigation item */
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px;
}

/* Active item styling */
.nav-item.active {
    transform: scale(1.2);
    background-color: var(--c-background-secondary);
}

/* Icon size */
.nav-item svg {
    width: 24px;
    height: 24px;
}

/* Hover effect */
.nav-item:hover {
    color: var(--c-text-primary);
    transform: scale(1.1);
}

/*---------------------------------------------------
Pattern Design styles */



/*---------------------------------------------------
Track project styles */



/*---------------------------------------------------
Pattern library styles */


/*---------------------------------------------------
Inventory management styles */
.inventory-container {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.inventory-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: var(--text-header1size);
    color: var(--c-text-primary);
}

/* Tools Section */
.tools-inventory, .yarn-inventory {
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
}

/* Section header */
h3 {
    font-size: 1.6rem;
    color: var(--c-text-primary);
    margin-bottom: 15px;
    font-weight: 600;
}

/* Add Buttons */
.addToolBtn, .addYarnBtn {
    background-color: var(--c-background-button);
    color: var(--c-text-primary);
    padding: 12px 25px;
    font-size: var(--text-size);
    border:white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    font-weight: bold;
}

.addToolBtn:hover, .addYarnBtn:hover {
    background-color: var(--c-background-inputfocus);
}

/* Tool and Yarn Inventory List */
.tool-inventory, .yarn {
    background-color: var(--c-background-primary);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tool-inventory ul, .yarn ul {
    list-style-type: none;
    padding: 0;
}

.tool-inventory li, .yarn li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--c-background-primary);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--c-background);
    transition: background-color 0.3s ease;
}

.quantity {
    display: flex;
    gap: 15px;
    align-items: center;
}

.quantity button {
    background-color: var(--c-background-secondary);
    border: none;
    padding: 8px 15px;
    font-size: var(--c-text-primary);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.quantity button:hover {
    background-color: var(--c-background-inputfocus);
}

.quantity span {
    font-size: var(--text-size);
    font-weight: bold;
}

/* Add tool + yarn form */
.modal-overlay {
    background-color: var(--c-background-primary);
    margin-bottom: 5%;
    justify-content: left;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 5%
}

.modal-content {
    background-color: var(--c-background-primary);
}

.modal-content h2 {
    font-size: var(--text-subheadersize);
    color: var(--c-text-primary);
    margin-bottom: 2%;
    padding-top: 2%;
    text-decoration: underline;
}

.modal-content label {
    font-size: var(--text-size);
    color: var(--c-text-primary);
    margin-right: 2%;
}

.modal-content input {
    width: 60%;
    padding: 3px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    font-size: var(--text-size-input);
    color: var(--c-text-primary);
    border-color: var(--c-text-primary);
}

.modal-content input:focus {
    background-color: var(--c-background-inputfocus);
}

.modal-buttons {
    justify-content: center;
}

.modal-buttons button {
    background-color: var(--c-background-button);
    color: var(--c-text-primary);
    padding: 10px 20px;
    font-size: var(--text-size-input);
    border:white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    font-weight: bold;
    margin-right: 0%;
    margin-left: 9%;
    margin-top: 5px;
}


