/* Styling for Login.tsx and Signup.tsx */

.signin-container {
    display: flex;
    justify-content: center;
    height: 100vh;

}

.login-section {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-section-header {
    margin-bottom: 20px;
}

.login-section-input {
    margin-bottom: 15px;
    text-align: left;
}

input {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
}


/* Responsive design */
@media (max-width: 600px) {
    .login-section {
        padding: 15px
    }
}